<footer style="background-color: #ffffff;">
  <div class="footer-copyright text-center py-3">
      <div class="contact">dktBoardGame@gmail.com</div>© 2020 Copyright:
    <a href="https://www.icaroduepuntozero.it/"> Icaro 2.0</a>
  </div> 	
</footer>
