<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000; display: flex;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto ">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/play">
        <img src="./images/logo.jpg" width="220px" class="img-fluid" alt="Responsive image">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacts">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  </div>
</nav>
