<link rel="stylesheet" href=".\about.css">
  <div class="row text-center">
    <div class="col-sm">
      <div class="form-row">
      <a href="https://www.instagram.com/simone_pucci.art/?hl=it">
      <img src="./images/simo.jpg" class="border border dark d-block rounded-circle w-100" alt="simo" class="mx-auto d-block" class="img-fluid" >
      </a>
      </div>
      <h5><b>SIMONE PUCCI-<i>ARTIST</i></b></h5>
      <p>Nato nel 2002, dal 2014 continua ad allenarsi nel disegno per diventare un fumettista. Per questo progetto, il più lungo a cui abbia mai lavorato, ha fornito più di 70 illustrazioni.</p>
      <a class="btn btn-primary" href="https://www.instagram.com/simone_pucci.art/?hl=it" role="button">CHECK ON IG</a>
    </div>
    <div class="col-sm">
      <div class="form-row">
        <a href="https://www.instagram.com/danycrow02/?hl=it">
      <img src="./images/dani.jpg" class="border border dark d-block rounded-circle w-100" alt="dani" class="mx-auto d-block" class="img-fluid" >
      </a>
      </div>
      <h5><b>DANIELE PUCCI-<i>CREATOR</i></b></h5>
      <p>Attore, scrittore e creatore di giochi da tavolo, Daniele è costantemente al lavoro su nuovi giochi per stimolare il pubblico. Lo sviluppo di DODEKATHEON ha richiesto quasi 8 anni, ma nel frattempo Daniele ha creato altri giochi pronti per essere illustrati.</p>
      <a class="btn btn-primary" href="https://www.instagram.com/danycrow02/?hl=it" role="button">CHECK ON IG</a>
    </div>
    <div class="col-sm">
      <div class="form-row">
        <a href="https://www.instagram.com/shop_profiler/?hl=it">
      <img src="./images/luca.jpg" class="border border dark d-block rounded-circle w-100" alt="luca" class="mx-auto d-block" class="img-fluid" >
      </a>
      </div>
      <h5><b>GIANLUCA PUCCI-<i>SHOP PROFILER</i></b></h5>
      <p>Fornitore dei materiali per il gioco e art director, Gianluca ha creato logo e grafiche di DODEKATHEON. La sua attività nel campo pubblicitario e la sua esperienza nel marketing hanno permesso che il gioco diventasse realtà.</p>
      <a class="btn btn-primary" href="https://www.instagram.com/shop_profiler/?hl=it" role="button">CHECK ON IG</a>
    </div>
  </div>
