<style>
body {
  background-image: url('./images/sfondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-5">
	    <div class="jumbotron" style="max-width: 600px;">
	    <div class="text-center">
	  <h1 class="display-4">DODEKATHEON</h1><h3> DADI & DEI</h3>
	  <p class="lead">
	“Gli dei giocano a dadi con la vita degli uomini…”
	Da questa frase nasce l’idea di un gioco ambientato nell’antica Grecia che si sviluppi su due piani -divino e mortale- nel quale ogni giocatore rappresenta uno dei dodici Olimpi in una continua lotta sempre piena di imprevisti.
	</p>
	  <hr class="my-4">
	  <p>Un divertente, imprevedibilie ma allo stesso tempo tattico, gioco da tavolo da 2 a 6 giocatori.</p>
	  <a class="btn btn-primary btn-lg" href="/products" role="button">Scopri di più</a>
	 </div>
	</div>
    </div>
    <div class="col">
    </div>
  </div>
</div>

