<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="./images/whitebox.jpeg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">DODEKATHEON</h5>
        <p class="card-text">
        <div>
        <b>Dodekatheon</b> è un gioco da tavolo ambientato nell’antica Grecia che si sviluppa su due piani -divino e mortale- nel quale ogni giocatore rappresenta uno dei dodici Olimpi (in greco, Dodekatheon) i quali competono tra di loro al fine di influenzare la vita degli uomini. 
        </div>
        <div>
        Ma la battaglia non resta limitata al cielo: anche i mortali hanno il loro bel daffare combattendo contro mostri mitologici o evitando la furia di divinità minori, ma non per questo deboli.
        In una continua lotta sempre piena di imprevisti, i capricci divini metteranno a dura prova le vite dei mortali e la pazienza degli stessi giocatori.
        </div>
        <div>
        Un divertente, imprevedibile ma allo stesso tempo tattico, gioco da tavolo dai 2 ai 6 giocatori.
        <div>
        Età consigliata: 10+
        </div>
        </div>
        <hr class="my-4">
        <div class="row"> <h5 class="col-sm">Prezzo:€60.00</h5> <a type="button" class="btn btn-outline-dark" class="col-sm" href="/contacts">ACQUISTA ORA</a> </div>
        </p>
        <p class="card-text">

        <div> <a class="text-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> <h5>Contenuto:</h5> </a></div>
        <div class="collapse" id="collapseExample">
        <div class="card card-body">
        <small class="text-muted">
        <div>-1 libretto delle regole</div>
        <div>-134 carte</div>
        <div>-10 pedine</div>
        <div>-2 tabelloni di gioco</div>
        <div>-4 templi in miniatura</div>
        <div>-3 dadi</div>
        <div>-24 segnalini vita</div>
        <div>-6 plance esercito</div>
        <div>-4 segnalini blocca accesso</div>
        <div>-6 schede riassuntive del turno di gioco</div>
        </small>
        </div>
        </div>

        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="./images/whitebox.jpeg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">DEMIURGON</h5>
        <p class="card-text">
        <div>
        I misteri dell'Africa nera aspettano un grande sciamano per essere svelati! Immergiti nei riti tribali delle maschere e definisci la tua società: riuscirai a dominare la furia della Creatura prima della fine del gioco?
        </div>
        <div>
        <b>Demiurgon</b> mette alla prova la fortuna dei giocatori rimescolandone i ruoli ad ogni turno: chi ne uscirà vincitore gestendo al meglio le proprie risorse?
        </div>
        <div>
        Un affascinante e rapido role game per 5 giocatori che si ispira ad un racconto del suo stesso autore.
        <div>
        Età consigliata: 7+
        </div>
        </div>
        <hr class="my-4">
        <div class="row"> <h5 class="col-sm">Prezzo:€25.00</h5> <a type="button" class="btn btn-outline-dark" class="col-sm" href="/contacts">ACQUISTA ORA</a> </div>
        </p>
        <p class="card-text">

        <div> <a class="text-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> <h5>Contenuto:</h5> </a></div>
        <div class="collapse" id="collapseExample">
        <div class="card card-body">
        <small class="text-muted">
        <div>-1 libretto delle regole</div>
        <div>-11 carte</div>
        <div>-30 segnalini</div>
        <div>-1 maschera copri-carte</div>
        <div>-1 dado</div>
        </small>
        </div>
        </div>

        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="./images/whitebox.jpeg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">RIVERGAME</h5>
        <p class="card-text">
        <div>
        COMING SOON!
        <hr class="my-4">
        </div>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="./images/whitebox.jpeg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">BEAT THE BAT</h5>
        <p class="card-text">
        <div>
        COMING SOON!
        <hr class="my-4">
        </div>
        </p>
      </div>
    </div>
  </div>
</div>